$liner: linear-gradient(
  to right,
  rgb(255, 175, 1) 0%,
  rgba(255, 166, 1, 0.5) 50%,
  rgb(255, 166, 1) 100%
);
.text-gray{
  color: var(--color-gray-500) !important;
  font-size: var(--size-lg);
  font-weight: 300;
}
